header {
    text-align: center;
}

body {
    background-color: #970912;
}

.tableimg {
    text-align: center;
    color: white;
    width: 100%;
    background-color: black;
    padding-top:  15px;
}

.decorate {
    color: white;
    text-decoration: none;
}

td {
    vertical-align: top;
}

ul {
    border: 0px;
    margin: 0px;
    padding: 0px;
    width: 200px;
    list-style: none;
    
}
ul li {
margin-bottom: 15px;
}

.left  {
    background-color: #7C0D12;
}
.left a {
    
    color: #E85B21;
}

.center p {
    color: #FFFEFB;
}

.right {
    background-color: #E2DCDC;
    width: 175px;
}
h3 {
    margin: 0px;
    text-align: center;
    background-color:  #BCBCBC;
}
hr {
    width: 60%;
}
footer {
    text-align: center;
    background-color: #E85B21;
    color: #FFFFF0;
    margin-top: 20px;
}