header {
    text-align: center;
}
a {
    color: white;
}
.color {
    color: #CE4C0D;
}
body {
    background-color: #970912;
}
.tableimg {
    text-align: center;
    color: white;
    width: 100%;
    background-color: black;
    padding: 15px;
}

table {
    background-color: white;
    width: 200px;
    float: right;
}

th {
    background-color: grey;
}
ul {
    text-align: left;
    width: 200px;
    list-style: none;
    background-color: #7C0D12;
    float: left;
}
p {
color: white;
}
li {
    margin-top: 20px;
    }

footer {
    
    text-align: center;
    background-color: #E85B21;
    position: absolute;
    bottom: 0px;
    width: 100%;
}